.box1 {
  background-color: black;
  width: 100px;
  height: 100px;
}

.box2 {
  background-color: red;
  width: 100px;
  height: 100px;
}
/* Row 1 black/red.. */
.row1 {
display: flex;
border: 1px solid black;
width: 700px;
height: 100px;
flex-direction: row;
}

/* Row 2 red/black.. */
.row2 {
display: flex;
border: 1px solid black;
width: 700px;
height: 100px;
flex-direction: row;
}
