main {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

section {
  min-height: 150px;
  min-width: 150px
}

#header {
  background-color: lightblue;
  flex-basis: 100%;
}

#left-side {
  background-color: #d966ff;
  flex-basis: 40%;
}

#center {
  background-color: pink;
  flex-basis: 20%;

}

#right-side {
  background-color: #d966ff;
  flex-basis: 40%;
}

#footer {
  background-color: lightblue;
  flex-basis: 100%
}





